@import "../../styles/index";


.Modal {
  width: 400px;
  max-width: 100%;
  height: 270px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  @include borders(white, #7b7b7b);
  background: #c0c0c0;
}

.Toggle{
  position: absolute;
  @include borders(white, #7b7b7b);
  z-index: 1;
  top: 10px;
  right: 20px;
  background: #c0c0c0;
  padding: 5px 10px;
}